In [4]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("hc_ratio.csv")

In [3]:
df

,clue_area_name,no_clinics_hosp,2016_count,2011_count,2016_hc_ratio,2011_hc_ratio
0,Greater Melbourne,64,"4,604,299","4,103,147","71,942","64,112"
1,Melbourne (CBD),8,"174,247","114,718","21,781","14,340"
2,Kensington,7,"10,761","9,958","1,537","1,423"
3,Parkville,5,"7,266","6,267","1,453","1,253"
4,North Melbourne,16,"20,508","15,724","1,282",983
5,Carlton,21,"18,764","14,243",894,678
6,East Melbourne,29,"4,689","4,824",162,166